*{
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    
}

.container{
    width: 600px;
    height: fit-content;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    border: 2px solid black;
    padding: 1rem 1rem;
    background-color: white;
    color: black;
    border-radius: 5px;
}
a{
    color: darkblue;
}