.App{
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100vw;
  height: 100vh;
  background-color: var(--COLOR-GRAY);
}
.maincontent{
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  gap: 2rem;
  padding: 5px 5px;
}

@media  screen and (max-width:800px) {
  .maincontent{
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .App{
    align-items: center;
    /* justify-content: center; */
  }
}