.App{
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100vw;
  height: 100vh;
  background-color: var(--COLOR-GRAY);
}
.maincontent{
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  gap: 2rem;
  padding: 5px 5px;
}