.column{
    background:var(--COLOR-GRAY-DARK);
    min-height: 20rem;
    color:#fff;
    width: 33%;
    padding: 1rem 0.8rem;
    max-width: 20rem;
    margin: 0;
    border-radius: 4px;
    display: flex;
    flex-direction: column;
    gap:1rem;
}

/*  we have wrapped the STATE(STATUS) and ADDING TASK BUTTON in a div*/

.headers{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.headers button{
    all: unset;
    font-size: 17px;
    font-weight: bold;
    color: black;
    background: rgb(233, 229, 229);
    padding: 0.5rem 0.7rem;
    height: fit-content;
    border-radius: 4px;
    cursor: pointer;
}

.headers button:hover{
    background: var(--COLOR-GRAY-LIGHT);
}