.column{
    background:var(--COLOR-GRAY-DARK);
    min-height: 22rem;
    color:#fff;
    width: 33%;
    padding: 1rem 0.8rem;
    max-width: 30%;
    margin: 0;
    border-radius: 4px;
    display: flex;
    flex-direction: column;
    gap:1rem;
    border: dashed transparent 4px;
}
.column.drop{
    border-color:white;
}

/*  we have wrapped the STATE(STATUS) and ADDING TASK BUTTON in a div*/

.headers{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.headers button{
    all: unset;
    font-size: 17px;
    font-weight: bold;
    color: black;
    background: rgb(233, 229, 229);
    padding: 0.5rem 0.7rem;
    height: fit-content;
    border-radius: 4px;
    cursor: pointer;
}

.headers button:hover{
    background: var(--COLOR-GRAY-LIGHT);
}

.input-box{
    position: absolute;
    top:0%;
    /* top: 50%; */
    /* left:36%; */
    right:0%;
    background-color:rgba(0, 0, 0, 0.371);
    width: 100%;
    height: 100%;
    display: flex;
    /* flex-direction: column; */
    justify-content: center;
    align-items: center;
    padding: 3rem 1rem;
    border-radius: 6px;
    
}
.inputcontent{
    margin-top: 2rem;
    /* width: 100%; */
    padding: 0.4rem 0.4rem;
    /* border: 2px solid gray; */
    display: flex;
    flex-direction: column;
    align-items: center;
    gap:1rem;
    display: flex;
}
.myinput{
    width: 100%;
    height: 40px;
    font-size: 18px;
    /* font-weight: bold; */
    border:1px solid black;
    padding: 0rem 0.5rem;
}
.input-box button{
    width: 80px;
    height: 40px;
    font-size: 17px;
    background: rgb(112, 5, 112);
    color: white;
    border: none;
    padding: 0.2rem 0.2rem;
    border-radius: 10px;
}
.input-box button:hover{
    background: rgb(62, 3, 62);
    border: 1px solid white;
}


@media screen and (max-width:800px){
    .column{
        width: 100%;
    }
}

