.column{
    background:var(--COLOR-GRAY-DARK);
    min-height: 20rem;
    color:#fff;
    width: 33%;
    padding: 1rem 0.8rem;
    max-width: 20rem;
    margin: 0;
    border-radius: 4px;
    display: flex;
    flex-direction: column;
    gap:1rem;
}