.tasks{
    background:white;
    color: black;
    min-height: 5rem;
    border-radius: 4px;
    padding: 0.5rem 0.6rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    text-transform: capitalize;
    font-weight: bold;
    cursor:move;
}

.bottom-wrapper{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.status{
    font-size: small;
    font-weight: 800;
    background:var(--COLOR-GRAY-LIGHT);
    padding: 0.1rem 0.4rem;
    border-radius: 2.5px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.PLANNED{
    background: var(--COLOR-GRAY-LIGHT);
}
.ONGOING{
    background: var(--COLOR-ONGOING);
}
.DONE{
    background: var(--COLOR-DONE);
}

.del-icon img{
    background-color: rgba(0, 0, 0, 0.33);
    padding: 0.1rem 0.2rem;
    border-radius: 5px;
    cursor: pointer;
}
.del-icon img:hover{
    background-color: rgba(6, 6, 6, 0.492);
}