.tasks{
    background:white;
    color: black;
    min-height: 5rem;
    border-radius: 4px;
    padding: 0.5rem 0.6rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.bottom-wrapper{
    display: flex;
    justify-content: space-between;
}

.status{
    font-size: small;
    font-weight: 600;
    background:var(--COLOR-GRAY-LIGHT);
    padding: 0.2rem 0.2rem;
    border-radius: 2.5px;
}

.PLANNED{
    background: var(--COLOR-GRAY-LIGHT);
}
.ONGOING{
    background: var(--COLOR-ONGOING);
}
.DONE{
    background: var(--COLOR-DONE);
}